body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    padding: 20px 40px;
    border-bottom: 1px solid #ddd;
}

main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px 20px;
}

.upload-section {
    text-align: center;
}

.drop-zone {
    margin: 30px auto;
    padding: 60px 20px;
    max-width: 500px;

    border: 2px dashed #aaa;
    border-radius: 12px;
}

.drop-zone input {
    margin-top: 20px;
}

#segment-button {
    padding: 12px 30px;
    font-size: 16px;
    cursor: pointer;
}

.result-section {
    display: flex;
    gap: 30px;
    margin-top: 50px;
}

.image-panel {
    flex: 1;
}

.image-box {
    width: 100%;
    min-height: 300px;

    border: 1px solid #ddd;
    border-radius: 12px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.image-box img {
    max-width: 100%;
    max-height: 400px;
}

/* 추론 중 Overlay */
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8); /* 배경을 조금 더 어둡게 */
    display: none; /* 기본은 숨김 */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9999; /* 다른 어떤 요소보다 위에 표시 */
}

/* Overlay 표시 상태 */
.loading-overlay.active {
    display: flex !important;
}


/* 중앙 내용 */
.loading-content {
    text-align: center;
    color: white;
}


.loading-content h2 {
    margin-top: 20px;
    margin-bottom: 10px;
}


.loading-content p {
    color: #ccc;
}


/* 회전 아이콘 */
.spinner {
    width: 45px;
    height: 45px;

    margin: 0 auto;

    border: 4px solid #555;
    border-top: 4px solid #ff8a3d;

    border-radius: 50%;

    animation: spin 1s linear infinite;
}


@keyframes spin {

    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }

}